* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    background: linear-gradient(rgb(255, 255, 255), rgb(206, 206, 206));
    height: max(100vh, 480px);
}

.transition {
    transition: transform 600ms ease-in-out;
}

.carousel-container {
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    display: flex;
    max-width: 700px;
    max-height: 401px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-top: max(calc(49.5vh - 200px), 0px);
    transform: scale(120%);
}

img {
    height: 100%;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

.arrow-box {
    position: relative;
    top: -44px;
    left: -14.5;
    background: rgba(35, 39, 36, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
}

#prev_btn {
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 5%;
    font-size: 40px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
}

#next_btn {
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 5%;
    font-size: 40px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
}

.circle_btns {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    z-index: 10;
    border-radius: 15px;
    background: rgba(35, 39, 36, 0.7);
    padding: 2px 5px 3px;
}


.i-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
}

.circle {
    display: block;
    position: relative;
    text-align: center;
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: white;
    opacity: 0.7;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
    transition: 600ms ease-in-out;
    margin: 4px 5px;
}